        /* Universal  */
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        /* Main Navigator  */
        nav {
            display: flex;
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        nav > * {
            border-right: 1px solid blue;
            padding-right: 5px;
            padding-left: 5px;
        }
        /* Home site */
        .profile-pic {
            box-sizing: border-box;
            display: block;
        }

        /* Education Site */
        .education {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .workex {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        img {
            max-width: 300px;
        }
        .Education-table {
            border: 1px solid black;
            border-collapse: collapse;
            min-width: 700px;
        }
        .Education-table * {
            border: 1px solid black;
        }
        /* work Experience Site */
        .work-table {
            border: 1px solid black;
            border-collapse: collapse;
            min-width: 700px;
        }
        .work-table * {
            border: 1px solid black;
        }
        .work-table th {
            background-color: burlywood;
        }
        
        /* Contact Me site */
        .contactme-header {
            padding: 10px;
        }
        .contact-form {
            width: 400px;
            margin: auto;
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            gap: 8px;
            flex-direction: column;
        }
        .contact-form * {
            max-width: 350px;
        }
        textarea {
            resize: none;
        }
 
